@import "../../assets/scss/variables";
@import "../../assets/scss/global";


// Start Header

header {
    position:absolute !important;
    width: 100%;
    z-index: 2;
    left: 0;
    box-shadow: 0 0.75rem 1.5rem rgba(1, 19, 45, 0.35);
    nav {
      ul li {
        margin-right: 32px;

        a{
          color: #FFF;
          font-size: $fs-xs;
          font-weight: $fw-md;
        
        &.active {
          color: $main-red;
          border-bottom: 2px solid $main-red;
          // font-size: $fs-s;

        }
     
      }
      }

      .header-profile-user{
        width: 40px;
        height: 40px;
      }
    }
  }