<header>
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <!--LOGO-->
        <a class="navbar-brand logo me-5" routerLink="/">
            <img src="../../assets/Logo/whiteLOGO.svg" alt="logo">

        </a>
  
        <button
          class="navbar-toggler"
          type="button"
          (click)="isColapsed = !isColapsed"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <svg
        
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.05 11H3.95C3.42533 11 3 11.4253 3 11.95V12.05C3 12.5747 3.42533 13 3.95 13H20.05C20.5747 13 21 12.5747 21 12.05V11.95C21 11.4253 20.5747 11 20.05 11Z"
              fill="black"
            />
            <path
              d="M20.05 16H3.95C3.42533 16 3 16.4253 3 16.95V17.05C3 17.5747 3.42533 18 3.95 18H20.05C20.5747 18 21 17.5747 21 17.05V16.95C21 16.4253 20.5747 16 20.05 16Z"
              fill="black"
            />
            <path
              d="M20.05 6H3.95C3.42533 6 3 6.42533 3 6.95V7.05C3 7.57467 3.42533 8 3.95 8H20.05C20.5747 8 21 7.57467 21 7.05V6.95C21 6.42533 20.5747 6 20.05 6Z"
              fill="black"
            />
          </svg>
        </button>
  
        <div
          class="collapse navbar-collapse "
          id="navbarSupportedContent"
          [ngbCollapse]="isColapsed"
        >
          <ul class="navbar-nav mr-auto justify-content-center flex-grow-1">
            <li class="nav-item active">
              <a
                class="nav-link"
                routerLink="/home"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Home
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/aboutUs"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >About us</a
              >
            </li>
  
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/gallery"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Gallery</a
              >
            </li>
  
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/contactUS"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Contact Us</a
              >
            </li>
  
          
          </ul>
          <ul class="navbar-nav mr-auto justify-content-end flex-grow-1">
            <li class="nav-item">
                <div class="me-3 d-flex align-items-center" >
                  
                      <img
                        class="rounded-circle header-profile-user"
                        src="../../assets/Photos/avatar1.png"
                        alt="Header Avatar"
                      />
              
                      <div class="text-start ms-2" >
                        <span class="ms-1">Name</span>
                      </div>
                  </div>
              </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  