<section class="login container-fluid">
  <div class="row">
    <div class="col-md-6 col-12 ms-0 ps-0 d-none d-md-block">
      <img
        src="../../../assets/Photos/login.png"
        alt="login"
        srcset=""
        class="w-100 h-100"
      />
    </div>
    <div class="col-md-6 col-12 mt-2">
      <div class="w-100">
        <h2>Welcome Back !</h2>
        <p>
          Don’t have an account?
          <span class="cursor" routerLink="/auth/register"> Create one </span>
        </p>
        <form class="mt-5" [formGroup]="loginForm">
          <div class="mb-3">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              [ngClass]="{
                'is-invalid': f['email'].touched && f['email'].errors
              }"
            />
            <div
              *ngIf="f['email'].touched && f['email'].errors"
              class="text-danger"
            >
              <span *ngIf="f['email'].errors?.['required']"
                >This value is required.!</span
              >
              <span *ngIf="f['email'].errors?.['email']"
                >This value should be email!</span
              >
            </div>
          </div>
          <div class="mb-3">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              [ngClass]="{
                'is-invalid': f['password'].touched && f['password'].errors
              }"
            />
            <div
              *ngIf="f['password'].touched && f['password'].errors"
              class="text-danger"
            >
              <span *ngIf="f['password'].errors?.['required']"
                >This value is required.!</span
              >
            </div>
          </div>

          <div class="mb-3">
            <div class="d-grid gap-2">
              <button
                class="btn btn-form"
                type="button"
                [disabled]="loginForm.invalid"
                (click)="onLoginClick()"
              >
                Login
              </button>
            </div>
          </div>

        </form>

        <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
      </div>
    </div>
  </div>
</section>
