

// Colors 

$main-red: #F31E2A;
$black-color: #030A0D;
$dark-blue-color: #02162F;
$card-color: #08161C;
$gray-color: #8D8D8D;
$dark-gray-color: #676767;

// Font Size 

$fs-xs: 18px;
$fs-s: 20px;
$fs-m: 22px;
$fs-md: 24px;
$fs-lg: 48px;
$fs-lg: 48px;
$fs-xlg: 56px;


// Font Weight

$fw-lg: 700;
$fw-sm: 400;


