@import "../../../assets/scss/variables";
@import "../../../assets/scss/global";


.register{
  height: 100vh;
  // overflow: hidden;
.img-content{
  height: 100vh;
}
  span{
    color: $main-red;
  }
}