<!-- start landing -->
<section class="container-fluid landing">
  <div class="txt">
    <div class="content">
      <h1 class="main-heading mb-md-5">
        Read more about Brighton BSAC Club...
      </h1>
    </div>
  </div>
</section>

<!--Start About Us Us -->
<section class="about-us container-fluid">
  <div class="row">
    <div class="col-md-6 col-12 d-flex align-items-center heading pt-5 ps-md-5">
      <div>
        <h2>About Us</h2>
        <div class="card-transparent">
          <p>
            <span class="txt-bold"
              >Established in 1954 as Brighton BSAC 007</span
            >, we are one of the first BSAC branches. Once based in Brighton, we
            are now based in Shoreham-By-Sea at the Sussex Yacht Club (SYC),
            giving easy access via the A27 and the train station to divers
            across Sussex, with members from Bognor Regis, Brighton, Falmer, Mid
            Sussex and Newhaven.
          </p>
        </div>
        <div class="card-transparent">
          <p>
            We have an 8 metre club boat (RIB) moored year round here at SYC
            which we take on trips to dive around the UK, space for storage of
            kit and an all-important bar and restaurant on site for diver
            debriefs! There is also free parking as well as changing and shower
            facilities.
          </p>
        </div>
        <div class="card">
          <p>
            Unlike many other clubs in the area, we also have our very own air
            compressor which gives our club members access to unlimited free air
            fills.
          </p>
        </div>
        <div class="card-transparent">
          <p>
            <span class="txt-bold">
              We get together every Wednesday evening from 8:00pm at the Sussex
              Yacht Club bar upstairs </span
            >, come along and meet us for a drink! We’re a friendly bunch and
            love meeting new people! We can show you around the facilities and
            if you’re interested you can
            <span class="txt-bold">sign up</span> for a Dive, Try Dive or
            Training Program with us.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <img src="../../assets/Photos/sophie-keningale.png" alt="About Us" />
    </div>
  </div>
</section>

<!-- start Facilities at a Glance -->
<section class="facilities container-fluid">
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="row">
        <div class="col-6">
          <div class="card-overly text-center">
            <div class="img-content">
              <img
                src="../../assets/Photos/facilities1.png"
                class="card-img-top"
                alt="facilities1"
              />
              <div class="overlay">
                <p>Text to display on hover</p>
              </div>
            </div>
          </div>
          <div class="card-overly text-center">
            <div class="img-content">
              <img
                src="../../assets/Photos/facilities3.png"
                class="card-img-top"
                alt="facilities3"
              />
              <div class="overlay">
                <p>Text to display on hover</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card-overly text-center">
            <div class="img-content">
              <img
                src="../../assets/Photos/facilities2.png"
                class="card-img-top"
                alt="facilities2"
              />
              <div class="overlay">
                <p>Text to display on hover</p>
              </div>
            </div>
          </div>

          <div class="card-overly text-center">
            <div class="img-content">
              <img
                src="../../assets/Photos/facilities4.png"
                class="card-img-top"
                alt="facilities4"
              />
              <div class="overlay">
                <p>Text to display on hover</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 d-flex align-items-center heading pt-5 pe-md-5">
      <div>
        <h2>Facilities at a Glance</h2>
        <div class="card">
          <ul class="txt-bold">
            <li>
              8 metre Ring RIB with twin Suzuki DS140 engine- moored on site
            </li>
            <li>Onsite compressor</li>
            <li>Free air to members, £2 for guests diving with us</li>
            <li>
              Club regs/bcd’s/Cylinder and airfill – £10 members/guest divers
            </li>
            <li>Free on site Parking 15m from mooring</li>
            <li>Cylinder</li>
            <li>Suit drying area</li>
            <li>Showers and changing facilities</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Start Why People Choose Us -->
<section class="choose-us container-fluid">
  <div class="row">
    <div class="col-md-6 col-12 d-flex align-items-center heading pt-5 ps-md-5">
      <div>
        <h2>Why People Choose Us</h2>
        <div class="card">
          <p>
            <span class="txt-bold">
              Brighton BSAC 007 is your one-stop high-quality </span
            >, professional, customized and personal all-in-one training dive
            club. We take diving seriously and handle it intelligently realizing
            the deep joy in a warm social gathering to discover and enjoy a
            world of amazing dive sites in Shoreham-By-Sea at Sussex Yacht Club
            (SYC)
          </p>
          <p>
            <span class="txt-bold">
              With a friendly and experienced dive team offering high-quality
              and memorable diving experiences</span
            >, you will get fair prices and attractive packages for diving,
            courses and diving equipment to cater to your adventure with us.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <img src="../../assets/Photos/alex-rose.png" alt="Alex" />
    </div>
  </div>
</section>

<!--Start Meet Our Team -->
<section class="team">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Meet Our Team</h2>
      </div>
    </div>
    <div class="row" *ngIf="teams$|async as teams">
      <div class="col-md-3 col-6" *ngFor="let team of teams">
        <div class="card-overly text-center">
          <div class="img-content" *ngIf="team.user.image">
            <img
              src="{{team.user.image.path}}"
              class="card-img-top"
              alt="..."
            />
            <div class="overlay">
              <p>{{team.jobDescription}}</p>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{team.userName}}</h5>
            <p class="card-text">{{team.position}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
