@import "../../assets/scss/variables";
@import "../../assets/scss/global";

//Start Landing Section

.landing {
  background-image: url("../../assets/Photos/aboutusLanding.png");
  background-size: cover;
  height: 825px;
  position: relative;

  @media (max-width: 767px) {
    height: 60vh;
  }

  .txt {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 45%;
    padding: 15px;
    color: #fff;

    @media (max-width: 767px) {
      width: 100%;
    }

    .content {
      width: 100%;
      position: relative;
      ::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        color: brown;
        height: 10px;
        width: 200px;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

// start dive-with-us section
.about-us {
  background-color: rgba($color: #000000, $alpha: 1);
  color: #fff;

  img {
    width: 100%;
  }
  .card {
    border-right: 0;
    margin-bottom: 16px;
    pa p:first-of-type {
      svg {
        margin-right: 8px;
      }
    }
  }
}

//start facilities section
.facilities {
  background-color: rgba($color: #000000, $alpha: 1);
  color: #fff;
  padding-top: 100px;
  .card-overly {
    margin-bottom: 26px !important;
    img {
      width: 100%;
    }
  }
  .card {
    border-left: 0;

    ul {
      padding: 100px;
      @media (max-width: 767px) {
        padding-left: 48px;
      }
      li {
        margin-bottom: 48px;
        @media (max-width: 767px) {
          margin-bottom: 32px;
        }
        &:nth-child(even) {
          margin-left: 64px;
          @media (max-width: 767px) {
            margin-left: 32px;
          }
        }
        &::marker {
          color: $main-red;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

// start choose-us section
.choose-us {
  background-color: rgba($color: #000000, $alpha: 1);
  color: #fff;
  padding-top: 100px;

  img {
    width: 100%;
  }
  .card {
    border-right: 0;
    margin-bottom: 16px;
    pa p:first-of-type {
      svg {
        margin-right: 8px;
      }
    }
  }
}

//start team Section
.team {
  background-color: rgba($color: #000000, $alpha: 1);
  color: #fff;
  padding-top: 100px;
  h2 {
    font-size: $fs-lg;
    font-weight: $fw-sm;
    margin-bottom: 55px;
  }

  
}
