<div class="container">
<form>
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="row mb-3">
        <div class="col-12">
          <div class="mb-3">
            <label for="formrow-email-input">Certificate Name</label>
            <input type="text" class="form-control" id="formrow-email-input" />
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <div class="mb-3">
            <label for="formrow-email-input">PADI Number</label>
            <input type="text" class="form-control" id="formrow-email-input" />
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <div class="mb-3">
            <label for="formrow-email-input">Certificate Date</label>
            <input type="dateTime" class="form-control" id="formrow-email-input" />
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <div class="mb-3">
            <label for="formrow-email-input">Instructor Name</label>
            <input type="text" class="form-control" id="formrow-email-input" />
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <div class="mb-3">
            <label for="formrow-email-input">Instructor Number</label>
            <input type="text" class="form-control" id="formrow-email-input" />
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <div class="mb-3">
            <label for="formrow-email-input">Location</label>
            <input type="text" class="form-control" id="formrow-email-input" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="row mb-3">
            <div class="col-12">
              <div class="mb-3">
                <label for="image-upload">Image</label>
                <input type="file" id="image-upload" class="d-block" name="image-upload">
            
            
            </div>
            </div>
          </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
        <label for="formrow-email-input"></label>

            <div class="d-grid gap-2">
                <button class="btn btn-form" type="button">Save</button>
              </div>

    </div>

</div>
</form>
</div>
