@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/global";

.equipment {
  label {
    font-size: $fs-md;
    @media (max-width: 767px) {
        font-size: $fs-xs   ;
      }
  }

  .remove{
    svg{
      path{
        fill: $main-red;
      }
    }
  }
}
