@import "../../../assets/scss/variables";
@import "../../../assets/scss/global";


.image-sec{

    .img-card{
        height: 300px;
        width: 300px;
    img{
        width: 100%;
        height: 100%;
    }
}
}