<div class="container eq">
  <form [formGroup]="equipmentForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="name">Equipment Name</label>
          <input type="text" class="form-control"  id="name"
          formControlName="name" [ngClass]="{
            'is-invalid': f['name'].touched && f['name'].errors
          }" />
          <div *ngIf="f['name'].touched && f['name'].errors" class="text-danger">
            <span *ngIf="f['name'].errors?.['required']">This value is required.!</span>
          </div>
        </div>
      </div>
    </div>
  <!-- Start Part -->
  <div class="class-room mb-2" formArrayName="parts">
    <ng-container
      *ngFor="
        let part of getPart().controls;
        let partIndex = index
      "
    >
<div [formGroupName]="partIndex">
    <div class="row mb-3 align-items-end">
      <div class="col-md-4">
        <div class="">
          <label for="name">Part Name</label>
          <input type="text" class="form-control"  id="name"
          formControlName="name"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-6">
            <div class="">
              <label for="purchaseDate">Purchase Date</label>
              <input
                type="datetime-local"
                class="form-control"
                id="purchaseDate"
          formControlName="purchaseDate"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="">
              <label for="expiryDate">Expiry Date</label>
              <input
                type="datetime-local"
                class="form-control"
                id="expiryDate"
                formControlName="expiryDate"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-danger " (click)="deletePart(partIndex)">
            Delete Part
          </button>
      </div>
    </div>
    </div>
 
    </ng-container>
    </div>
        <!-- End Subject-->
        <button
        type="button"
        class="btn btn-secondary mb-3"
        (click)="addPart()"
      >
        Add New Part
      </button>


    <!--******************************-->
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="lastServiceDate">Last Service Date</label>
          <input type="datetime-local" class="form-control" id="lastServiceDate"
          formControlName="lastServiceDate" [ngClass]="{
            'is-invalid': f['lastServiceDate'].touched && f['lastServiceDate'].errors
          }"  />

          <div *ngIf="f['lastServiceDate'].touched && f['lastServiceDate'].errors" class="text-danger">
            <span *ngIf="f['lastServiceDate'].errors?.['required']">This value is required.!</span>
          </div>
        </div>
      </div>
      <div class="col-md-6" *ngIf="reminders$ |async as reminders">
        <div class="mb-3">
          <label for="timeReminder">Reminder Repeat</label>

          <select
          class="form-select"
          id="timeReminder"
          formControlName="timeReminder"
        >
          <option value="" selected disabled> Select Reminder Repeat</option>
          <option
            [value]="remender.id"
            *ngFor="let remender of reminders"
          >
            {{ remender.name }}
          </option>
        </select>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="formrow-email-input"></label>

        <div class="d-grid gap-2">
          <button class="btn btn-form" type="button"  (click)="onSubmitClicked()"
          [disabled]="equipmentForm.invalid">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
