<div class="container">
    <form>
        <div class="row mb-3">
    
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="formrow-email-input">Equipment Name</label>
                    <input type="text" class="form-control" id="formrow-email-input">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="formrow-password-input">Num of parts</label>
                    <input type="text" class="form-control" id="formrow-password-input" />
                </div>
            </div>
        </div>
        <div class="row mb-3">
    
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="formrow-email-input">Part Name</label>
                    <input type="text" class="form-control" id="formrow-email-input">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="formrow-password-input">Purchase Date</label>
                            <input type="text" class="form-control" id="formrow-password-input" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="formrow-password-input">Expiry Date</label>
                            <input type="text" class="form-control" id="formrow-password-input" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
    
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="formrow-email-input">Last Service Date</label>
                    <input type="email" class="form-control" id="formrow-email-input">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="formrow-password-input">Reminder Repeat</label>
                    <input type="text" class="form-control" id="formrow-password-input" />
                </div>
            </div>
        </div>
        <div class="row mb-3">
                <div class="col-md-6">
                    <label for="formrow-email-input"></label>
        
                        <div class="d-grid gap-2">
                            <button class="btn btn-form" type="button">Save</button>
                          </div>
            
                </div>
           
        </div>
    </form>
</div>